* {
    margin: 0;
    padding: 0;
}

/* top-navbar */
.top-navbar {
    background-color: white;
    padding: 20px 120px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1)
}

.top-navbar .logo {
    color: white;
}

.top-navbar ul {
    display: flex;
    gap: 30px;
}

.top-navbar ul li {
    list-style: none;
    font-size: 0.9rem;
    color: #474040;
}

/* Main menu */
.main-menu {
    /* background-color: var(--primary-color); */
    padding: 20px 120px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: antiquewhite; */
}

.main-menu .logo {
    width: 150px;
}

.main-menu .logo img {
    width: 100%
}

.main-menu .search-input {
    padding: 20px 30px;
    border: solid 2px var(--primary-color);
    border-radius: 50px;
    width: 50%;
}

.main-menu .search-button {
    padding: 20px 30px;
    border: solid 1px var(--primary-color);
    border-radius: 50px;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    gap: 25px;
}

